/* CSS*/
* {
    font-family: 'Poppins', 'Spoqa Han Sans', sans-serif !important;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    line-height: 1;
    background: #f3c6bd;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul, li {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    color: #fff;
    background: transparent;
}

img {
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    vertical-align: top;
    appearance: none;
    border: 1px solid #e65d5d;
    color: #e65d5d;
    border-radius: 0;
    font-family: Poppins,Noto Sans KR,Sans-serif;
}

input::-moz-input-placeholder {
    color: #e65d5d;
}

input::-webkit-input-placeholder {
    color: #e65d5d;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    left: -9999px;
    color: transparent;
}

#wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    position: relative;
    width: 100%;
}

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3f6fdf;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transform: scale(0);
    transition: .5s;
}

#menu-overlay.active {
    transform: scale(1);
    z-index: 999;
}

#menu-overlay ul {
    position: relative;
}

#menu-overlay ul li {
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
}

#menu-overlay ul li + li {
    margin-top: 4%;
}

#menu-overlay ul li a {
    position: relative;
    text-decoration: none;
    font-size: 6rem;
    padding: 0 10px;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    color: #ffffff;
    letter-spacing: 0.3rem;
}

#menu-overlay ul li a span {
    font-size: 3rem;
}

#menu-overlay ul li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background: #fbd3d3;
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: .5s transform;
}

#menu-overlay ul li a:hover::before {
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: .5s transform;
}

#toggleIcon {
    position: fixed;
    top: 5%;
    right: 3%;
    width: 50px;
    height: 50px;
    z-index: 1000;
    cursor: pointer;
}

#toggleIcon span {
    width: 62%;
    background: #fff;
    height: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}

#toggleIcon span:nth-child(1) {
    top: 25%;
}

#toggleIcon span:nth-child(2) {
    top: 45%;
}

#toggleIcon span:nth-child(3) {
    top: 65%;
}

#toggleIcon.active span:nth-child(1) {
    top: 64%;
    left: 43%;
    transform: rotate(45deg) translateX(-50%);
}

#toggleIcon.active span:nth-child(2) {
    transform: rotate(-45deg) translateX(-42%);
    top: 24%;
    left: 40%;
}

#toggleIcon.active span:nth-child(3) {
    display: none;
}

#wrap .bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

#wrap .blob.one {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-38%, -49%) rotate(51deg);
    width: 35vw;
    height: 64vw;
    background: #ffd7cf;
    animation: animate 5s linear infinite;
    z-index: 8;
    opacity: 0.8;
}

#wrap .blob.two {
    position: absolute;
    width: 26vw;
    height: 28vh;
    background: #ff7746;
    animation: animate2 5s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -126%) rotate(-14deg);
    z-index: 11;
}

#wrap .blob.three {
    position: absolute;
    width: 16vw;
    height: 27vh;
    background: #3f6fdf;
    animation: animate3 5s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(55%, 37%);
    z-index: 9;
}

@keyframes animate {
    0%,100% {
        border-radius: 60% 30% 20% 70% / 50% 50% 40% 40%;
    }

    25% {
        border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
    }

    50% {
        border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
    }

    75% {
        border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
    }
}

@keyframes animate2 {
    0%,100% {
        border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
    }

    25% {
        border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
    }

    50% {
        border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
    }

    75% {
        border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
    }
}

@keyframes animate3 {
    0%,100% {
        border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
    }

    25% {
        border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
    }

    50% {
        border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
    }

    75% {
        border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
    }
}

.mainText {
    color: #fff;
    font-size: 9vw;
    text-align: left;
    z-index: 100;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.bg .ver {
    color: rgba(255,255,255,0.5);
    font-size: 2rem;
    position: absolute;
    right: 4%;
    bottom: 5%;
}

.bg .myName{
    color: rgba(255,255,255,0.5);
    font-size: 2rem;
    position: absolute;
    left: 4%;
    top: 5%;
}

.bg .ver span {
    width: 50px;
    height: 3px;
    background: rgba(255,255,255,0.5);
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
}

.contents {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15% 0 0;
}

.textEffect {
    display: flex;
    overflow: hidden;
    padding: 0 0 5vh 0;
}

#text {
    position: relative;
    font-size: 6.5vw;
    color: #fff;
    font-weight: bold;
}

#text span {
    color: #3f6fdf;
    border-bottom: 12px solid #3f6fdf;
    display: none;
}

.contents .section + .section {
    margin: 10vh 0 0 0;
}

/*portfolio*/
.work .box {
    position: relative;
    text-align: left;
    margin-bottom: 25%;
}

.work .box .img-box img {
    max-width: 100%;
}

.work .box:nth-child(2n) {
    text-align: right;
}

.work .box .con {
    position: absolute;
    top: 20%;
    left: 35%;
    background: #fff;
    width: 35%;
    padding: 5%;
    text-align: left;
}

.work .box .con .sec_num {
    font-size: 0.9rem;
    font-style: initial;
    color: #e4a598;
    font-weight: 400;
}

.work .box .con h2 {
    font-family: 'DM Serif Display', serif !important;
    font-size: 3rem;
    padding: 5% 0 10% 5%;
}

.work .box .con p {
    position: relative;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #666;
    padding: 11% 0 0 5%;
}

.work .box .con p:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 2px;
    background: #f3c6bd;
}

.work .box .con .btn a {
    display: block;
    font-size: 1rem;
    color: #f3c6bd;
}

/*footer*/
.foot-text {
    background: #f5cbc3;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: rgba(255,255,255,0.7);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-info {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: block;
    overflow: hidden;
    height: 21vh;
}

.add-info .today-date {
    width: 25%;
    float: left;
}

.date-area {
    font-size: 3rem;
    color: rgba(255,255,255,0.5);
    text-align: right;
    line-height: 1.2;
    padding-top: 3vh;
}

.date-area .this-text {
    font-weight: bold;
}

.foot-info {
    background: #e4a598;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 3% 0;
}

.foot-info .row {
    max-width: 1200px;
    margin: 0 auto;
}

.foot-info .foot-sub {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: bold;
    color: #ecbbb1;
}

.foot-info .root_daum_roughmap {
    margin: 5% 0 0 0;
    padding: 2%;
    background: #f3c6bd;
    width: 100% !important;
    border: none;
}

.foot-info .form .form-elements {
    width: 100%;
    margin: 5% 0 0 0;
}

.foot-info .form .form-elements .pure-group {
    padding: 0;
}

.foot-info .form .form-elements .pure-group + .pure-group {
    padding: 2% 0 0 0;
}

.foot-info .form .form-elements .pure-group input {
    width: 100%;
    background: rgb(228, 165, 152);
    box-shadow: none;
    border: 1px solid #f3c6bd;
    color: #222;
    padding: 3%;
}

.foot-info .form .form-elements .pure-group textarea {
    width: 100%;
    background: rgb(228, 165, 152);
    box-shadow: none;
    border: 1px solid #f3c6bd;
    color: #222;
    padding: 3%;
}

.foot-info .form .form-elements button {
    width: 100%;
    margin: 2% 0 0 0;
    background: #f3c6bd;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.foot-info .form .form-elements .pure-group input::placeholder, .foot-info .form .form-elements .pure-group textarea::placeholder {
    color: #f3c6bd;
}

.foot-info .form .thankyou_message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    font-size: 2.5vw;
    width: 100%;
}

.s_active {
    animation: fadeIn 1s forwards ease-in;
    transition: 1s ease-in-out;
}

.s_active .con {
    animation: fadeIn 1.2s forwards ease-in;
    transition: 1.2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box.ready {
    opacity: 0;
    transform: translateY(30%);
}

.box.ready.s_active {
    opacity: 1;
    transform: translateY(0);
}

#today-date {
    font-size: 5rem;
}

/*==========================================
sub page style start
==========================================*/
.sub-title {
    position: relative;
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goMain {
    position: absolute;
    width: auto;
    top: 12%;
    left: 2%;
    font-size: 1.2rem;
    vertical-align: middle;
}

#goMain a {
    display: block;
    padding-left: 49px;
    color: rgba(255,255,255,0.5);
}

#goMain:before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: -3%;
    width: 20px;
    height: 2px;
    background: rgba(255,255,255,0.5);
    transform: rotate(135deg);
}

#goMain:after {
    content: '';
    position: absolute;
    top: 72%;
    left: 0;
    display: block;
    width: 35px;
    height: 2px;
    background: rgba(255,255,255,0.5);
}

.sub-title h2 {
    font-family: 'DM Serif Display', serif !important;
    font-size: 4rem;
    text-transform: capitalize;
    z-index: 100;
    color: #fff;
}

.sub-title .dot {
    position: absolute;
    width: 9vw;
    height: 12vh;
    background: #ff7746;
    animation: animate2 5s linear infinite;
    top: 51%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(-36deg);
}

.sub-text {
    position: relative;
    width: 100%;
    background: #f5cbc3;
    padding: 15% 0 5%;
}

.sub-text .bg {
    font-family: 'Parisienne', cursive !important;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13rem;
    color: rgba(255,255,255,0.4);
}

.sub-text strong {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.7rem;
    color: #f5baae;
    text-transform: uppercase;
    z-index: 100;
}

.sub-text p {
    width: 35%;
    text-align: center;
    font-size: 1rem;
    margin: 1.5% auto 0;
    line-height: 1.5;
    color: #666;
}

#workPlace, #skill {
    padding: 8% 0;
}

#workPlace .row, #skill {
    max-width: 1200px;
    margin: 0 auto;
}

#columns {
    column-width: 400px;
    column-gap: 80px;
}

#columns .fig {
    display: inline-block;
    margin: 0 0 80px 0;
}

#columns .fig .img-box .tt {
    font-family: 'Rozha One', serif !important;
    width: 560px;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecb0a4;
    font-size: 10rem;
    color: #fff;
}

#columns .fig .img-box .tt.black {
    background: #242a38;
    font-size: 5rem;
}

#columns .fig img {
    width: 100%;
}

#columns .fig .con {
    background: #fff;
    padding: 6% 7%;
}

#columns .fig .con h3 {
    font-family: 'DM Serif Display', serif !important;
    font-size: 2.5rem;
}

#columns .fig .con p {
    position: relative;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #666;
    margin-top: 4%;
}

#columns .fig .con .btn {
    padding: 0;
    margin-top: 4%;
}

#columns .fig .con .btn a {
    display: block;
    font-size: 1rem;
    color: #f3c6bd;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 4%;
    z-index: 99;
    border: none;
    outline: none;
    background: #ecb0a4;
    color: white;
    cursor: pointer;
    width: 4vw;
    height: 7vh;
    animation: animate3 5s linear infinite;
    transform: translate(55%, 37%);
    padding: 0;
}

#myBtn:hover {
    background-color: #ffd7cf;
}

/* ----------------------------------------------------------------------
Progress Bar
-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------
Base Colors
-------------------------------------------------------------------------*/
/*Colors*/
/*Typography*/
/*Header*/
/*Side Panel*/
/*Margins*/
/*Transitions*/
.progress-bar-container {
    width: 100%;
    height: 10px;
    margin: 7% 0;
    overflow: hidden;
    background-color: #e4e4e4;
    border-radius: 5px;
}

.progress-bar {
    height: 100%;
    padding: 10px;
    box-shadow: none;
}

.progress-bar .progress-number, .progress-bar .progress-type {
    color: #fff;
    float: right;
    margin-top: -2px;
    font-size: 9px;
}

.progress-title {
    color: #fff;
    font-size: 9px;
    font-weight: normal;
    position: absolute;
    text-align: left;
}

.progress-title i {
    margin-right: 8px;
}

.progress-bar-container.radius, .progress-bar-container.radius .progress-bar {
    border-radius: 4px;
}

.progress-bar-container.title-up .progress-title {
    color: #f3c6bd;
    margin-left: -10px;
    margin-top: -32px;
}

.progress-bar-container.title-up:not(:first-child) {
    margin-top: 13.7%;
}

.progress-bar-container.title-up .progress-bar .progress-number, .progress-bar-container.title-up .progress-bar .progress-type {
    color: #f3c6bd;
    margin-top: -32px;
    position: absolute;
    right: 15px;
}

.progress-bar-container.title-up .progress-bar .progress-number {
    right: 26px;
}

.progress-bar-container.medium {
    height: 20px;
}

.progress-bar-container.medium .progress-bar {
    padding: 0;
}

.progress-bar-container.medium .progress-title {
    margin-left: 0;
    margin-top: -20px;
}

.progress-bar-container.medium .progress-bar .progress-number, .progress-bar-container.medium .progress-bar .progress-type {
    margin-top: -18px;
}

.progress-bar-container.small {
    height: 6px;
}

.progress-bar-container.small .progress-bar {
    padding: 0;
    /*background: rgb(255,119,70);*/
    /*background: linear-gradient(125deg, rgba(255,119,70,1) 0%, rgba(63,111,223,1) 100%);*/
    background:#3f6fdf;
    border-radius: 5px;
}

.progress-bar-container.small .progress-title {
    margin-left: 0;
    margin-top: -22px;
}

.progress-bar-container.small .progress-bar .progress-number, .progress-bar-container.small .progress-bar .progress-type {
    margin-top: -22px;
}

.progress-bar-container.no-bg {
    background: none !important;
}

.progress-bar-container.extra-small {
    height: 2px;
}

.progress-bar-container.extra-small .progress-bar {
    padding: 0;
}

.progress-bar-container.extra-small .progress-title {
    margin-left: 0;
    margin-top: -20px;
}

.progress-bar-container.extra-small .progress-bar .progress-number, .progress-bar-container.extra-small .progress-bar .progress-type {
    margin-top: -18px;
}

.progress-bar-container.transparent {
    background: none !important;
}

.progress-bar-container.transparent .progress-bar {
    background-color: rgba(0, 0, 0, 0.35);
}

.progress-bar-container.transparent.title-up .progress-bar .progress-title, .progress-bar-container.transparent.title-up .progress-bar .progress-number, .progress-bar-container.transparent.title-up .progress-bar .progress-type {
    color: #fff;
}

/*skill - profile*/
#skill .column img {
    max-width: 100%;
}
#skill .column .card .row {
    background: #fff;
    margin: -5px;
    padding: 7% 0 0 0;
    border-radius: 10px;
    box-shadow: 5px 7px 8px rgba(0,0,0,0.04);
}

#skill .column .skill.card .row{
    padding: 4% 0 0 0;
}

#skill .sec-title{
    font-size: 13px;
    color: #aaa;
    padding-bottom: 7%;
}

#skill .column .profile .my-id {
    width: 35%;
    height: 35%;
    border-radius: 100%;
    margin: 0 auto;
}

#skill .column .profile .info .name {
    text-align: center;
    font-size: 14px;
    color: #aaa;
    margin-top: 5%;
}

#skill .column .profile .info .age {
    text-align: center;
    color: #aaa;
    font-size: 12px;
    margin-top: 2%;
}

#skill .column .profile .box {
    background: #f3f3f3;
    padding: 6% 5% 5% 7%;
    margin-top: 5%;
    border-radius: 0 0 10px 10px;
}

#skill .column .profile .info .ico {
    font-size: 11px;
    vertical-align: middle;
    color: #aaa;
}

#skill .column .profile .info .ico + .ico{
    margin-top: 6%;
}

#skill .column .profile .info .ico i {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: super;
    margin-right: 3%;
}

#skill .column .profile .info .ico i img {
    width: 100%;
}

@media (max-width: 992px) {
    #myBtn{
        width: 7vw;
        right: 7%;
        bottom: 7%;
    }
    #wrap .blob.one{
        width: 57vw;
        height: 72vw;
        transform: translate(-50%, -49%) rotate(51deg);
    }
    #wrap .blob.two{

        display: none;

    }
    #wrap .blob.three{
        transform: translate(60%, 38%) rotate(47deg);
    }
    .mainText{
        font-size: 12vw;
    }
    .work {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .work .box {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 15%;
    }
    .work .box .con{
        width:70%;
    }
    .work .box[data-text="odd"] .con{
        width: 100%;
        top: 59%;
        left: 10%;
    }
    #menu-overlay ul li a {
        font-size: 10vw
    }

    .foot-info{
        padding: 8% 9%;
    }
    .foot-info .map{
        margin-top:8%;
    }


    #footer .add-info{
        padding: 0 9% 5%;
        height: auto;
    }

    #footer #text{
        font-size: 12vw;
    }

    #footer .date-area{
        display:none;
    }

}
@media (max-width: 768px) {
    #myBtn{
        width: 15vw;
        right: 13%;
        bottom: 5%;
    }

    #toggleIcon{
        top: 4%;
    }

    #wrap .blob.three{
        display: none;
    }

    #menu-overlay ul li a{
        font-size: 7vw;
    }

    #menu-overlay ul li a span{
        font-size:1rem;
    }

    .main .work{
        padding: 0 5%;
    }

    .work .box {
        flex-direction: column;
        height: auto;
    }

    .work .box .img-box {
        position: relative;
    }

    .work .box .img-box, .work .box:hover .img-box {
        width: 100%;
        height: auto;
        max-height: 350px;
        left: 0;
        overflow: hidden;
    }

    .work .box .img-box img, .work .box:hover .img-box img {
        max-width: 100%;
    }

    .work .box .con {
        position: relative !important;
        width: 100% !important;
        top: auto !important;
        left: auto !important;
        bottom: auto !important;
        right: auto !important;
    }
    .foot-info{
        padding: 5% 1%;
    }

    .foot-info .map {
        display: none;
    }
    .foot-text{
        font-size: 9px;
    }
}
